<% include ../includes/header-b4.ejs %> 
  </head>
  <body>
    <% include ../includes/nav.ejs %> 
    <p>First Input: <%= firstInput %></p>
    <p>Second Input: <%= secondInput %></p>
  </body>
</html>
