<% include ../includes/header-b4.ejs %> 
  </head>
  <body>
    <% include ../includes/nav.ejs %> 
    <form action="pr01/submit" method="POST">
      First input: <input type="text" name="input1" />
      <br />
      Second Input: <input type="text" name="input2" />
      <br />
      <button type="submit">Submit Form</button>
    </form>
  </body>
</html>
