<% include ./includes/header-b4.ejs %> 
</head>
<body>
  <% include ./includes/nav.ejs %> 
  <div class="container">
    <div class="card">
      <div class="card-body"><h1>
          It is a home page for Prove Assignments. 
      </h1></div>
    </div>
  </div>
</body>
</html>