<% include ./includes/header-b4.ejs %> 
<script src="/scripts/pr10.js" defer></script>
</head>
<body>
  <% include ./includes/nav.ejs %> 
  <div class="container">
    <div class="card">
      <div class="card-body">
        <ul id="listElement"></ul>
      </div>
    </div>
    <a id="fetchButton" class="btn btn-success my-1">Get Data</a>
    <div class="row">
      <input type="text" class="form-control my-2" id='text'>
      <a id="addButton" class="btn btn-primary my-1">Add to the list</a>
    </div>
  </div>
</body>
</html>
