<% include ./includes/header-b4.ejs %> 
<script src="/scripts/pr10.js" defer></script>
</head>
<body>
  <% include ./includes/nav.ejs %> 
  <div class="container">
    <div class="card">
      <div class="card-body">
        <ul class="listElement"></ul>
      </div>
    </div>
    <a id="fetchButton" class="btn btn-success">Get Data</a>
  </div>
</body>
</html>